service.wsdl

<?xml version="1.1" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MessageExtraitRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="No_du_compte" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Date_operation" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="REFERENCE" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="Libelle" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Date_valeur" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="DEBIT" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="CREDIT" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageExtraitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fieldCount" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="affectedRows" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="insertId" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="serverStatus" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="warningCount" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="message" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="protocol41" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="changedRows" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <wsdl:message name="MessageExtraitSoapIn">
    <wsdl:part name="parameters" element="tns:MessageExtraitRequest"/>
  </wsdl:message>
  <wsdl:message name="MessageExtraitSoapOut">
    <wsdl:part name="parameters" element="tns:MessageExtraitResponse"/>
  </wsdl:message>
  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="MessageExtraitSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="MessageExtrait">
      <wsdl:input message="tns:MessageExtraitSoapIn"/>
      <wsdl:output message="tns:MessageExtraitSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="MessageExtraitServiceSoapBinding" type="tns:MessageExtraitSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MessageExtrait">
      <soap:operation soapAction="MessageExtrait" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <!-- SERVICE:  -->
  <wsdl:service name="MessageExtraitService">
    <wsdl:port name="MessageExtraitServiceSoapPort" binding="tns:MessageExtraitServiceSoapBinding">
      <soap:address location="http://localhost:8000/wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>